@charset "UTF-8";
.hero-content {
    margin-top: auto;
    margin-bottom: 20%;
    opacity: 0; 
    filter: blur(10px); 
    animation: aparecerNitido 1.5s ease-out forwards; 
}

@keyframes aparecerNitido {
    0% {
        opacity: 0;
        filter: blur(10px); 
    }
    100% {
        opacity: 1;
        filter: blur(0); 
    }
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
}
.hero2 {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh; 
    position: relative; 
    overflow: hidden; 
    background: url('../imgs/fondo2.jpg') no-repeat center center/cover;
}

.slide-in-image {
    width: 70%; 
    height: 90%; 
    background-image: url('../imgs/frame1.png'); 
    background-size: cover;
    background-position: center;
    position: relative; 
    transform: translateX(-100%); 
    opacity: 0; 
    transition: transform 2s ease-out, opacity 1.5s ease-out; 
}


.hero2-text {
    width: 50%; 
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    opacity: 0; 
    transition: opacity 5s ease-out; 
}


.hero2.active .slide-in-image {
    transform: translateX(0); 
    opacity: 1; 
}

.hero2.active .hero2-text {
    opacity: 1; 
}
.hero3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    position: relative; 
    overflow: hidden; 
    background: url('../imgs/fondo3.jpg') no-repeat center center/cover;
}

.hero3-text {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    opacity: 0; 
    transition: opacity 1.5s ease-out; 
}

.slide-in-image3 {
    flex: 1;
    background: url('../imgs/frame2.png') no-repeat center center / cover; 
    transform: translateX(100%); 
    opacity: 0; 
    transition: transform 1.5s ease-out, opacity 1.5s ease-out; 
    height: 76%;
    width: 50%;
}


.hero3.active .slide-in-image3 {
    transform: translateX(0); 
    opacity: 1; 
}

.hero3.active .hero3-text {
    opacity: 1; 
}

.hero4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    position: relative; 
    overflow: hidden; 
    background: url('../imgs/fondo4.jpg') no-repeat center center/cover;
}

.hero4-text {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    opacity: 0; 
    transition: opacity 1.5s ease-out; 
}

.slide-in-image4 {
    flex: 1;
    background: url('../imgs/frame2.png') no-repeat center center / cover; /* Imagen */
    transform: translateX(-100%); 
    opacity: 0; 
    transition: transform 1.5s ease-out, opacity 1.5s ease-out; 
    height: 75%;
    
}


.hero4.active .slide-in-image4 {
    transform: translateX(0); 
    opacity: 1; 
}

.hero4.active .hero4-text {
    opacity: 1; 
}

.hero5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh; 
    position: relative; 
    overflow: hidden; 
    background: url('../imgs/fondo5.jpg') no-repeat center center/cover; 
}

.hero5-text {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    opacity: 0; 
    transition: opacity 1.5s ease-out;
}

.slide-in-image5 {
    flex: 1;
    background: url('../imgs/frame4.png') no-repeat center center / cover; 
    transform: translateX(100%); 
    opacity: 0; 
    transition: transform 1.5s ease-out, opacity 1.5s ease-out; 
    height: 69%;
    
}


.hero5.active .slide-in-image5 {
    transform: translateX(0); 
    opacity: 1; 
}

.hero5.active .hero5-text {
    opacity: 7; 
}
